body{
    background-color: lightcyan;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainContainer
{
    
    height: 62vh;
    width: 60vh;
    border: 1px solid black;
    border-radius: 5%;
    margin:auto;
    font-size: 1rem;

}

.inputForm
{
    margin-top: 0.5rem;
    height: 40px;
    width: 90%;
    font-size: 16px;

}

.generateQR
{
    height: 40px;
    width: 90%;
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 20px;
    background-color: cyan;
    border-radius: 5%;
    outline: none;
}


.qr-image
{
    margin:auto;
    padding-top: 2%;
}